{% extends 'base.html' %}

{% block content %}
    <style>
    .spoiler {

    transition: all 1s;
    -webkit-transition: all 1s;
    color: transparent;
   background-color: #c0c0c0;

}

    .spoiler:hover {
        color: #c0c0c0;
       background-color:transparent;
    }

    </style>
    <div class="container padded">
        {% for a in awards %}
        <div class="row border"  style="display: flex;" id="{{a['title']}}">
            <div class="col-12 col-md-4 text-center"><h3 data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="{{a['details']}}&#13;({{a['note']}})">{{a['name']}}</h3><p>{{a['scorecalc']}}</p><button type="button" class="btn btn-outline-secondary" id="{{a['title']}}but" onclick="showall('{{a['title']}}')">Show all</button></div>
            <div class="col-3 col-md-2 text-center"><h3>{{a['table'][0][0]}}</h3><h3>{{a['table'][0][3]}}{{a['suffix']}}</h3><p>({{a['table'][0][2]}}/{{a['table'][0][1]}})</p></div>
            <div class="col-3 col-md-2 text-center"><h4>{{a['table'][1][0]}}</h4><h4>{{a['table'][1][3]}}{{a['suffix']}}</h4><p>({{a['table'][1][2]}}/{{a['table'][1][1]}})</p></div>
            <div class="col-3 col-md-2 text-center"><h5>{{a['table'][2][0]}}</h5><h5>{{a['table'][2][3]}}{{a['suffix']}}</h5><p>({{a['table'][2][2]}}/{{a['table'][2][1]}})</p></div>
            <div class="col-3 col-md-2 text-center"><h5>Qualified Average</h5><h5>{{a['average']}}{{a['suffix']}}</h5></div>
        </div>
        <div class="row"  style="display: none;" id="{{a['title']}}all">
            {% for r in a['table'] %}
            {% if r[4] %}
                <div class="col-4 col-md-2 text-center border"><p style="margin:5px">{{r[5]}}-{{r[0]}}</p><p style="margin:5px">{{r[3]}}{{a['suffix']}} ({{r[2]}}/{{r[1]}})</p></div>
            {% else %}
                <div class="col-4 col-md-2 text-center border"><p style="margin:0"><em>{{r[0]}}*</em></p><p style="margin:0">{{r[3]}}{{a['suffix']}} ({{r[2]}}/{{r[1]}})</p></div>
            {% endif %}
            {% endfor %}
            <p style="margin:0"><em>* Failed to meeting qualifying criteria ({{a['note']}})</em></p>
        </div>

        {% endfor %}

    </div>

<script>
    function showall(divid){
        var elem = document.getElementById(divid+"all");
        var butelem = document.getElementById(divid+"but");
        if (elem.style.display==="none"){
            elem.style.display="flex"
            butelem.innerHTML = "Hide All"
        } else {
            elem.style.display="none"
            butelem.innerHTML = "Show All"
        }

    }
</script>

{% endblock %}
