{% extends 'base.html' %}

{% block content %}
    <div class="container padded">
        <div class="row"  style="display: flex;">
            <div class="col-2 text-center"><a class="btn btn-primary btn-lg" href="/games/{{last}}" role="button">&#8592;{{last}}</a></div>
            <div class="col-8 text-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Select Game
                    </button>
                    <ul class="dropdown-menu">
                        {% for g in gamelist %}
                        <li><a class="dropdown-item" href="/games/{{g[0]}}">{{g[1]}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-2 text-center"><a class="btn btn-primary btn-lg" href="/games/{{next}}" role="button">{{next}}&#8594;</a></div>
        </div>

        <div class="row">
            <h1 style="text-align: center">Session {{gamedetails['session']}} Game {{gamedetails['game']}}</h1>
            <h5>Date: {{gamedetails['date']}}<br>
                Script: {{gamedetails['script']}}<br>
                Story Tellers: {{STs}}<br>
                Players: {{gamedetails['players']}}<br>
                Winner: {{gamedetails['result']}} - {{gamedetails['winmethod']}}</h5>
        </div>

        <div class="row">
            <div class="col-4 text-center"></div>
            <div class="col-4" style="display: flex;align-items:center; justify-content: center;">
                <h1 style="font-family: 'Dancing Script', cursive; font-size: 600%;" id="curphase">Set-up</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-center"></div>
            <div class="col-2 text-center" style="display: flex;align-items:center; justify-content: center;">
                <button type="button" class="btn btn-secondary" onclick="phasechange('back')"><h4>Last Phase</h4></button>
            </div>
            <div class="col-2 text-center" style="display: flex;align-items:center; justify-content: center;">
                <button type="button" class="btn btn-secondary" onclick="phasechange('forward')"><h4>Next Phase</h4></button>
            </div>
        </div>
        <div class="row"><br></div>
        <div class="row" style="display: flex">

            {% for g in gamedetails['playerdata'] %}
            <div class="col-2 text-center">
                <img src="https://raw.githubusercontent.com/SDoehren/AFBOTCSite/main/app/{{gamedetails['playerdata'][g]['startingroleimg']}}" width="100">
                <h4>{{gamedetails['playerdata'][g]['name']}}</h4>
                {% if gamedetails['playerdata'][g]['rolenote'] == "" %}
                    <h5>{{gamedetails['playerdata'][g]['startingrole']}}</h5>
                {% else %}
                    <h5>{{gamedetails['playerdata'][g]['startingrole']}} ({{gamedetails['playerdata'][g]['rolenote']}})</h5>
                {% endif %}
            </div>
            {% endfor %}
        </div>



    </div>

<script>
    function phasechange(direction){
        console.log(direction)
        curphaseel = document.getElementById("curphase")

        if (curphaseel.innerHTML==="Set-up" && direction==="back"){
            return;
        } else if (curphaseel.innerHTML==="Set-up" && direction==="forward"){
            curphaseel.innerHTML = "N1";
        } else if (curphaseel.innerHTML==="N1" && direction==="back"){
            curphaseel.innerHTML = "Set-up";
        } else {
            let day = curphaseel.innerHTML.slice(0,1)
            let number = parseInt(curphaseel.innerHTML.slice(1,999))

            console.log(day)
            console.log(number)
            if (day==="N"){
                day = "D"
            } else {
               day = "N"
            }

            if (direction==="back" && day==="N"){
                number -= 1
            } else if (direction==="forward" && day==="D"){
                number += 1
            }

            curphaseel.innerHTML = day+number

        }

    }

    function processphase(){}

    processphase()


    function toggletable(vnum){
        var el = document.getElementById("VoteTable"+vnum)
        console.log(el.style.display);
        if (el.style.display == "none") {
            el.style.display = "";
        } else {
            el.style.display = "none";
        }
    }

</script>

{% endblock %}