{% extends 'base.html' %}

{% block content %}
    <style>
    .spoiler {

    transition: all 1s;
    -webkit-transition: all 1s;
    color: transparent;
   background-color: #c0c0c0;

}

    .spoiler:hover {
        color: #c0c0c0;
       background-color:transparent;
    }
    </style>

    <div class="container padded">
        <div class="row"  style="display: flex;">
            <div class="col-2 text-center"><a class="btn btn-primary btn-lg" href="/games/{{last}}" role="button">&#8592;{{last}}</a></div>
            <div class="col-8 text-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Select Game
                    </button>
                    <ul class="dropdown-menu">
                        {% for g in gamelist %}
                        <li><a class="dropdown-item" href="/games/{{g[0]}}">{{g[1]}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-2 text-center"><a class="btn btn-primary btn-lg" href="/games/{{next}}" role="button">{{next}}&#8594;</a></div>
        </div>

        <div class="row">
            <h1 style="text-align: center">Session {{gamedetails['session']}} Game {{gamedetails['game']}}</h1>
            <h5>Date: {{gamedetails['date']}}<br>
                Script: {{gamedetails['script']}}<br>
                Story Tellers: {{STS}}<br>
                Players: {{gamedetails['players']}}<br>
                Winner: <span class="spoiler">{{gamedetails['result']}} - {{gamedetails['winmethod']}}</span></h5>
        </div>

        <div class="row">
            <div class="col-4 text-center"></div>
            <div class="col-4" style="display: flex;align-items:center; justify-content: center;">
                <h1 style="font-family: 'Dancing Script', cursive; font-size: 600%;" id="curphase">Set-up</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-center"></div>
            <div class="col-2 text-center" style="display: flex;align-items:center; justify-content: center;">
                <button type="button" class="btn btn-secondary" onclick="phasechange('back')"><h4>Last Phase</h4></button>
            </div>
            <div class="col-2 text-center" style="display: flex;align-items:center; justify-content: center;">
                <button type="button" class="btn btn-secondary" onclick="phasechange('forward')"><h4>Next Phase</h4></button>
            </div>
        </div>
        <div class="row"><br></div>
        <div class="row" style="display: flex">
            <div class="col-12 d-flex justify-content-center" id="TableState"></div>
        </div>
        <div class="row" style="display: flex" id="PhaseData">
        </div>



    </div>

<script>
    let DATAPACK = {{gamedetails|tojson|safe}}


    function phasechange(direction){
        curphaseel = document.getElementById("curphase")

        if (curphaseel.innerHTML==="Set-up" && direction==="back"){
            return;
        } else if (curphaseel.innerHTML==="Set-up" && direction==="forward"){
            curphaseel.innerHTML = "N1";
        } else if (curphaseel.innerHTML==="N1" && direction==="back"){
            curphaseel.innerHTML = "Set-up";
        } else {
            let day = curphaseel.innerHTML.slice(0,1)
            let number = parseInt(curphaseel.innerHTML.slice(1,999))
            if (direction==="back" && day==="N"){
                number -= 1
            } else if (direction==="forward" && day==="D"){
                number += 1
            }

            if (day==="N"){
                day = "D"
            } else {
               day = "N"
            }



            curphaseel.innerHTML = day+number

        }
        processphase()
    }

    function processphase(){
        let curphaseel = document.getElementById("curphase")
        let phasedata = document.getElementById("PhaseData")
        let html = ""

        if (curphaseel.innerHTML==="Set-up"){
            console.log(DATAPACK['playerdata'])

            for (const [key, value] of Object.entries(DATAPACK['playerdata'])) {
                /*console.log(key, value);*/
                html += '<div class="col-2 text-center">'


                html += '<img src="'+value["startingroleimg"]+'" width="100">'
                html += '<h4>'+key+'</h4>'

                html += '<h5>'+value['startingrole']

                if (value['rolenote'] !== ""){
                    html += ' ('+value['rolenote']+')'
                }

                html += '</h5>'

                html += '</div>'

            }
        } else {
            html += '<div class="row"  style="display: flex;"><div class="col-12">'

            for (const [key, value] of Object.entries(DATAPACK['events'])) {
                if (value['phase']===curphaseel.innerHTML){
                    /*console.log(value)*/
                    html += value['HTML']+'<br>'
                }
            }

            html += '</div></div>'

        }
        phasedata.innerHTML = html;

        let html2 = ""

        if (curphaseel.innerHTML!=="Set-up"){
            for (const [key, value] of Object.entries(DATAPACK['startofphasestate'])) {
                if (key===curphaseel.innerHTML){
                    console.log(value)
                    for (var i = 0; i < value.length; i++) {
                        html2 += '<img src = "'+value[i][2]+'" height = "45" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="'+value[i][0]+'-'+value[i][1]+'">'
                    }
                }
            }
        } else {
            html2=""
        }
        let tablestate = document.getElementById("TableState")
        tablestate.innerHTML = html2;

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    }

    processphase()

    function toggletable(vnum){
        var el = document.getElementById("VoteTable"+vnum)
        if (el.style.display == "none") {
            el.style.display = "";
        } else {
            el.style.display = "none";
        }
    }

</script>

{% endblock %}